.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #000000!important;
  z-index:1;
}
.mat-drawer-side {
  border: none;
}
span.titleMenu {
  display: none;
}
@media only screen and   (max-width: 991px){
  span.titleMenu {
    display: block;
  }
}

